/*----best sellers----*/

.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}

.col-4 img{
  width: 100%;
}

.title{
  text-align: center;
  margin: 0 auto 65px;
  position: relative;
  line-height: 60px;
  color: #000000;
}

.title::after{
  content: '';
  width: 80px;
  height: 5px;
  border-radius: 5px;
  background: #f0c14b;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

h4{
  color: #000000;
  font-weight: normal;
}

.col-4 p{
  font-size: 14px;
  color: #000000;
}

.rating {
  color: #f7b308;
}

.col-4:hover{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}