/* footer----------- */

.footer {
    background: #000000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    line-height: 1.5;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px; 
    font-weight: 700;
    text-align: left !important; 
}


.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 300x; 
    margin-bottom: 30px; 
    padding-right: 0px; 
}


.footer-col-1 {
    flex-basis: 20%; 
    text-align: left; 
    padding-left: 0; 
}

.footer-col-2 {
    flex-grow: 1; 
    flex-basis: 30%; 
    text-align: center;
}

.footer-col-2 p {
    color: #8a8a8a;
    margin-bottom: 0;
    text-align: center;
}

.footer-col-2 img {
    width: 200px; 
    margin-bottom: 20px;
}


.footer-col-3{
    flex-grow: 1; 
    flex-basis: 25%; 
    text-align: left; 
    padding-left: 50px;
}

.footer-col-4 {
    flex-grow: 1; 
    flex-basis: 25%; 
    text-align: left; 
    padding-left: 0;
}

ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
}

.footer-col-3 ul li, 
.footer-col-4 ul li {
    margin-bottom: 0; 
    line-height: 1.2; 
    color: #8a8a8a;
    text-align: left;
}

.two-column-list {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    width: 100%; 
}

.list-column-left, 
.list-column-right {
    flex-basis: 50%;
    max-width: 50%; 
}

.list-column-left li, 
.list-column-right li {
    margin-bottom: 0; 
    color: #8a8a8a;
    text-align: left;
    
}


.footer hr {
    border: none;
    background: #b5b5b5;
    border-top: 1px solid #555;
    height: 1px;
    margin: 20px 0;
}


.app-logo {
    display: flex;
    justify-content: flex-start; 
    gap: 10px; 
    margin-top: 15px;
}

.app-logo img {
    width: 40px;
    height: 40px;
}

.app-logo img:hover {
    transform: translateY(-2px) scale(1.05);
    cursor: pointer;
}

.copyright {
    text-align: center;
    margin-top: 10px; 
}