*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

}
 
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background: radial-gradient(#000000, #282222);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
    padding-top: 80px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #FFFFE0;
}
p{
  color: #FFFFE0;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.header .row .col-2{
  flex-basis:auto;
  min-width: 300px;
  padding: 0 40px;
}



.col-2 img{
  max-width: 100%;
}


.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 10px 0px;
  color: #FFFFE0;
}
.btn{
  display: inline-block;
  background: #f0c14b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.3s;
}

.btn:hover{
  background: #fff70072;
}

.btn{
  background: #f0c14b;
  color: #000;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  font-weight: bold;
}

.header{
  background: radial-gradient(#000000, #282222);
}

.header .row{ 
  margin-top: -20px;
}

/*----categories----*/
.categories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 100%;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}


html {
    scroll-behavior: smooth;
}
