/*----testimonials----*/
.testimonials{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffef5c; 
}


.title {
    text-align: center;
    margin: 0 auto 50px; 
    position: relative;
    line-height: 60px;
    color: #555;
}

.testimonials .col-3{
    text-align: center;
    padding: 20px 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.15); 
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: #fff;
}

.testimonials .col-3 img{
    width: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.testimonials .col-3:hover{
    transform: translateY(-10px);
}

.fa-quote-left{
    color: #ff8800;
    font-size: 30px;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonials .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}